@model List<ResultCommentDto>
@{
    ViewData["Title"] = "Index";
    Layout = "~/Areas/Admin/Views/AdminLayout/Index.cshtml";
    int count = 0;
}

<section class="content container-fluid">
    <div class="row">


        <div class="col-md-12">
            <div class="chart-box">
                <h4>Yorum Listesi</h4>
                <p>Yorum ile ilgili işlemrinizi aşağıdaki tablo üzerinden gerçekleştirebilirsiniz. </p>
                <div class="bs-example" data-example-id="bordered-table">
                    <table class="table table-bordered">
                        <thead>
                            <tr>
                                <th>#</th>
                                <th>Kullanıcı</th>
                                <th>Yorum</th>
                                <th>Tarih</th>
                                <th>Durum</th>
                                <th>Sil</th>
                                <th>Güncelle</th>
                            </tr>
                        </thead>
                        <tbody>
                            @foreach (var comment in Model)
                            {
                                count++;
                                <tr>
                                    <th scope="row">@count</th>
                                    <td>@comment.NameSurname</td>
                                    <td>@comment.CommentDetail</td>
                                    <td>@comment.CreatedDate.ToShortDateString()</td>
                                    <td>@comment.Status</td>
                                    <td><a href="/Admin/Comment/DeleteComment/@comment.UserCommentId" class="btn btn-danger">Sil</a></td>
                                    <td><a href="/Admin/Comment/UpdateComment/@comment.UserCommentId" class="btn btn-warning">Güncelle</a></td>

                                </tr>
                            }


                        </tbody>
                    </table>
                    
                </div>
            </div>
        </div>

    </div>
</section>

